@charset "UTF-8";

*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	
}

body{
	background-image: linear-gradient(#f60 50%, white );

}

#bannerTituloLogin{
	background-color: #f60;
	width:100%;	
}

#formLogin{
	width: 40px;
}

#subBannerTituloLogin{
	width: 750px;	
	margin: auto;
	display: grid;
  	grid-template-columns: 180px 180px 400px;	
}

#subForm{
	display: grid;
  	grid-template-columns: 160px 160px 70px;	
  	margin-top: 3px;
  	font-size: 12px;
  	color: white;
  	margin-top: 2px;
}
#subForm a{
	color: #ffb380;
	text-decoration: none;
}

#subForm input[type="text"], #subForm input[type="password"]{
	border: 0;
	padding: 5px;
	margin:2px;
	height: 12px;
	width: 130px;
}

#subForm input[type="submit"]{
	background-color: #f35500;
	color: white;
	border: 2px solid #803300;
	width: 65px;
	height: 25px;
}

#subFormEnviar{
	margin: auto
}