@charset "utf-8"
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #d3d3d3;
	margin: 90px 0px;
}

#barraMenu{
	background: white;
	border-bottom: 1px solid #d8d8d8;
	height: 70px;
	position: fixed;
	width: 100%;
	top: 0px;
	box-shadow: 0px 4px 32px #5a3000;
}

#barraCentral{
	padding: 5px 10px;
}

#areaLogo{
	width: 720px;
	margin: 0 auto;
}


#imgLogoPrincipal{
	width: 180px;
}
.containerErro {	
	position: absolute;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 500px;		
	margin-left: -400px;
	margin-top: -250px;
	text-align: center;
	color: red;
}

.containerLogin {
	position: absolute;
	width: 100%;
	height: 100%;	
	margin-top: -90px;
	background-color: #ff6600;
}

.boxlogin {
	position:absolute;
	left: 50%;
	top:50%;
	width: 500px;
	height:400px;
	margin-left: -250px;
	margin-top: -250px;
	background-color: #d3d3d3;
	box-shadow: 4px 4px 32px #5a3000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center	
}

.boxlogin input[type="text"], .boxlogin input[type="password"]{
	height: 30px;
	width: 230px;
	margin: auto;
	padding: 15px;
}
.boxlogin input[type="submit"]{
	height: 50px;
	width: 200px;
	align:center;
}

.boxElemento{
	padding: 10px;
}